<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <form action = "/madlib">
        <label>Name a person.</label>
        <input type="text" name="name">

        <br><br>

        <label>Name a color.</label>
        <input type="text" name="color">

        <br><br>

        <label>Name a noun.</label>
        <input type="text" name="noun">

        <br><br>

        <label>Name a adjective.</label>
        <input type="text" name="adjective">

        <input type = "submit">
    </form>
</body>
</html>